
/DotNetAcademy.Nhibernate/_ReSharper.DotNetAcademy.Nhibernate
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.sln.DotSettings.user
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.ncrunchsolution
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.ncrunchsolution.user
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingBasics/bin
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingBasics/obj
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingRelations/obj
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingRelations/bin
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.PrimaryKeyStrategies/bin
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.PrimaryKeyStrategies/obj
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.ncrunchsolution
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.ncrunchsolution.user
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.sln.DotSettings.user
/DotNetAcademy.NhibernateArch/_ReSharper.DotNetAcademy.NhibernateArch
/DotNetAcademy.Nhibernate/_ReSharper.DotNetAcademy.Nhibernate
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingBasics/obj
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingBasics/bin
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingRelations/bin
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingRelations/obj
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingRelations/bin
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.MappingRelations/obj
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.PrimaryKeyStrategies/bin
/DotNetAcademy.Nhibernate/DotNetAcademy.Nhibernate.PrimaryKeyStrategies/obj
/DotNetAcademy.NhibernateArch/_ReSharper.DotNetAcademy.NhibernateArch
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.Contracts/obj
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.Contracts/bin
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.Infrastructure/bin
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.Infrastructure/obj
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.Infrastructure/obj
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.Infrastructure/bin
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.UI.Mvc/obj
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.UI.Mvc/bin
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.UI.Nancy/bin
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.UI.Nancy/obj
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.UI.Mvc/obj
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.UI.Mvc/bin
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.UI.Mvc/DotNetAcademy.NhibernateArch.UI.Mvc.csproj.user
/DotNetAcademy.NhibernateArch/DotNetAcademy.NhibernateArch.UI.Nancy/DotNetAcademy.NhibernateArch.UI.Nancy.csproj.user