<!DOCTYPE html>

<html>
    
    <head>
        
        <title>DotNetAcademy.NhibernateArch</title>
        <link rel="stylesheet" type="text/css" href="../../Content/App.css" />

    </head>
    
    <body>
        
        <ul>
            <li>@Html.ActionLink("Populate the database", "PopulateDatabase", "Posts")</li>
            <li>@Html.ActionLink("Posts container 'NH' in their description", "PostsByDescription", "Posts", new { description = "NH" }, null)</li>
            <li>@Html.ActionLink("Posts per user", "PostsPerUser", "Posts")</li>
        </ul>

    </body>
</html>