<!DOCTYPE html>

<html>
    
    <head>
        
        <title>DotNetAcademy.NhibernateArch</title>
        <link rel="stylesheet" type="text/css" href="../../Content/App.css" />

    </head>
    
    <body>

        <p>Database populated</p>

    </body>
</html>