@model IEnumerable<DotNetAcademy.NhibernateArch.Contracts.GetPostsPerUser.PostsPerUserDTO>

<!DOCTYPE html>

<html>
    
    <head>
        
        <title>DotNetAcademy.NhibernateArch</title>
        <link rel="stylesheet" type="text/css" href="../../Content/App.css" />

    </head>
    
    <body>
        
        <table class="datagrid">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>NbrOfPosts</th>
            </tr>
            @{
                foreach (var post in Model)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@post.Firstname @post.Lastname</td>
                        <td>@post.NbrOfPosts</td>
                    </tr>
                }
            }
        </table>

    </body>
</html>